
<section class="flex justify-content-center">
  <section class="w-35rem bg-white border-round-md shadow-1 p-4">
    <article class="w-full">
      <div class="flex justify-content-center">
        <h3>Datos de la orden</h3>
      </div>
    </article>
    <article class="mt-4">
      <p-steps [model]="items" [readonly]="false"></p-steps>
    </article>
    <article>
      <router-outlet></router-outlet>
    </article>
    <div class="flex justify-content-center pt-2">
      <p-button  label="Guardar" (onClick)="onSavePurchaseOrder()"></p-button>
    </div>
  </section>
</section>
