<article>
  <section class="table-container">
    <article class="flex justify-content-end py-3 pr-3">
        <button pButton type="button" icon="pi pi-plus" size="small" class="p-button-success"
          (click)="addDetail()"></button>
    </article>
    <article >
      <form [formGroup]="detailsForm">
        <p-table [value]="details.controls">
          <ng-template pTemplate="header">
            <tr>
              <th>Cantidad</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-purchase let-i="rowIndex">
            <tr [formGroupName]="i">
              <td>
                <p-inputNumber formControlName="quantity"  [min]="0"></p-inputNumber>
              </td>
              <td>
                <p-dropdown  formControlName="product" [options]="products" optionLabel="name" placeholder="Seleccione un proveedor"></p-dropdown>
              </td>
              <td>
                <p-inputNumber formControlName="price" ></p-inputNumber>
              </td>
              <td>
                <button pButton type="button" icon="pi pi-trash" size="small" class="p-button-danger" (click)="removeDetail(i)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </article>
  </section>
</article>
