<section class="w-full h-screen bg-black">
  <section class="h-8rem">

  </section>
  <section class="flex flex-column">
    <article class="navbar-item py-3 pl-3 w-full" (click)="onNavigate('purchase-orders')">
      <a >ORDENES</a>
    </article>
    <article class="navbar-item py-3 pl-3 w-full" (click)="onNavigate('receptions')">
      <a>RECEPCIONES</a>
    </article>
    <article class="navbar-item py-3 pl-3 w-full" (click)="onNavigate('stocks')">
      <a>STOCK</a>
    </article>
  </section>
</section>
