<section class="w-full h-screen bg-black relative">
  <section class="h-8rem  pt-4">
    <article class="flex justify-content-center">
      <div class="w-4rem h-auto">
        <img class="w-full h-full" src="../../../../assets/inventario.png" alt="Logo">
      </div>
    </article>
    <article class="text-center">
      <h2 class="pl-2 title pt-2">Inventory app</h2>
    </article>
  </section>
  <section class="flex flex-column mt-4">
    <article class="navbar-item py-3 pl-3 w-full" (click)="onNavigate('purchase-orders')">
      <a >ORDENES</a>
    </article>
    <article class="navbar-item py-3 pl-3 w-full" (click)="onNavigate('receptions')">
      <a>RECEPCIONES</a>
    </article>
    <article class="navbar-item py-3 pl-3 w-full" (click)="onNavigate('stocks')">
      <a>STOCK</a>
    </article>
  </section>
  <section class="absolute bottom-0 w-full">
    <p class="w-full text-center py-2 text-white">evoltis - 2024</p>
  </section>
</section>
